/* CSS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family: "ebgaramond regular";
    src: url(fonts/EBGaramond-Regular.ttf) format(truetype);
    font-weight: normal;
    font-size: large;
}

@font-face {
    font-family: "ebgaramond bold" format(truetype);
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
    font-size: large;
}

@font-face {
    font-family: "ebgaramond italic" format(truetype);
    src: url(fonts/EBGaramond-Italic.ttf);
    font-weight: normal;
    font-size: italic;
}

@font-face {
    font-family: "coda bold" format(truetype);
    src: url(fonts/Coda-ExtraBold.ttf);
    font-weight: bold;
    font-size: large;
}

* {
    font-family: "ebgaramond regular", sans-serif;
    font-size: 13px;
    text-wrap-style: pretty;
}

body {
    background-color: cornsilk;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(230, 198, 220);
    border-color:rgb(241, 187, 234);
    border-radius: 30px;
}

section {
    width: 100vw;
}

/* aplicaiones tipograficas */

h1 {
    font-family: "coda bold" sans-serif;
    color: rgb(148, 11, 57);
    font-size: 35px;
    text-align: center;
    background-color: #c39ff1;
    padding: 20px;
    height: 50px;
    border-radius: 30px;
    text-shadow: -2px -1px 0px rgb(255, 147, 246);
}

h2 {
    font-family: "coda bold" sans-serif;
    color: rgb(87, 59, 59);
    font-size: 20px;
    text-align: center;
    background-color: blanchedalmond;
    margin: 0px;
    padding: 20px;
    height: 50px;
    max-width: 800px;
    border-radius: 30px;
}


h3 {
    font-family: "coda bold" sans-serif;
    color: indianred;
    font-size: 20px;
}

h4 {
    font-family: "ebgaramond regular" sans-serif;
    color: blue;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}

#Proyectos article {
    display: flex;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;
}

#Proyectos article p {
    max-width: 250px;
    line-height: 18px;
}

.footer-text { 
    color: rgb(93, 129, 175);
    font-size: 18px;
}